<?xml version="1.0"?>
<robot>
    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.4 0.25 0.15" />
            </geometry>
            <material name="base_link_material">
                <color rgba="0.85 0.0 0.0 1.0" />
            </material>
        </visual>
    </link>
    
</robot>